[Unit]
Description=A small consul-based user management utility.
 
[Service]
Type=simple
User=root
Group=root
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-/etc/default/spqr
EnvironmentFile=-/etc/sysconfig/spqr
ExecStart=/usr/local/bin/consul "watch" "-type=keyprefix" "-prefix=org/default/groups" "/usr/sbin/spqr" "-g" "info" "-s" "/var/lib/spqr/spqr.state"
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
